@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--outfit);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

svg {
  display: block;
}

text {
  fill: transparent;
  stroke: white;
  stroke-width: 1;
}

.text-border {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.slider-container:hover .slider {
  animation-play-state: paused;
}

.slider {
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes showSection {
  0% {
    opacity: 0.5;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.in-view {
  animation: showSection linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
